@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* Ensures the content always fills the entire height of the screen */
:root, body, #root {
    height: 100%;
}

:root {
    font-family: ui-sans-serif, sans-serif, system-ui;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Kode Mono';
    src: url(.\src\assets\KodeMono-VariableFont_wght.ttf);
}

.font-mono-Kode {
    font-family: 'Kode Mono', monospace;
}

/* Apply dark mode styles from the browser. Improves scroll bars, buttons, links, etc. */
.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}